@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* section-wedding */

.wedding-announcement {
    background: url(images/announcement-bg.png) center center;
    position: relative;
    top: -10px;
}

.section-padding {
    padding: 130px 0;
}

.section-heading h2 {
    background: url(images/heading-bg.png) no-repeat center 60px;
    font-size: 45px;
    color: #2a1d22;
    line-height: 38px;
    margin: 0;
    padding-bottom: 55px;
    font-family: "Dancing Script", cursive;
    font-weight: 500;
}

.section-heading p {
    font-size: 18px;
    font-weight: lighter;
    line-height: 35px;
    margin: 0 0 60px;
}

.wedding-announcement .left-col {
    background: url(images/left-dot.png) no-repeat 20px 50%;
    position: relative;
}

.wedding-announcement .right-col {
    background: url(images/right-dot.png) no-repeat 99% 49%;
    position: relative;
}

.wedding-announcement .frame {
    position: relative;
    overflow: hidden;
}

.wedding-announcement .frame img:first-child {
    position: relative;
    z-index: 5;
}

.wedding-announcement .frame img:last-child {
    width: 95%;
    position: absolute;
    top: 10px;
    left: 8px;
}

.wedding-announcement .content h4 {
    background: url(../images/heading-heart.png) no-repeat center 35px;
    font-family: "Roboto Slab", serif;
    margin: 55px 0 0;
    padding-bottom: 50px;
    font-family: "Lobster", cursive;
}


/* LOVE STORY */

.love-story {
    background-color: #fef0ee;
    margin-top: -10px;
    overflow: hidden;
}

.section-padding {
    padding: 130px 0;
}

.love-story .content .row {
    margin-bottom: 55px;
}

.love-story .content .row>.col {
    background-color: #fff;
    padding: 0;
}

.love-story .content .row>.col .col:first-child {
    padding: 25px 0 25px 25px;
}


/* HERO */


/* .hero-inner-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-inner-content h2 {
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
}
.hero-inner-content p {
  color: #fff;
  font-size: 30px;
  margin-bottom: 50px;
  font-family: "Merriweather", serif;
}
.hero-inner-content a {
  display: inline-block;
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
}
.arrow.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.story-area {
  background-size: cover;
  background-repeat: no-repeat;
}
.section-headding h4 {
  color: #bf4f8f;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  margin-top: 12px;
  font-family: "Dancing Script", cursive;
}
.section-heading h2 {
  background: url(../images/heading-bg.png) no-repeat center 60px;
  font-size: 45px;
  color: #2a1d22;
  line-height: 38px;
  margin: 0;
  padding-bottom: 55px;
}
.section-headding .icon {
  width: 30.6px;
  height: 30.6px;
  margin: 0 auto;
  background: #ff97d247;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #bf4f8f;
}

.photo-gallery-single {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.photo-gallery-single:hover .gallery-item-overly {
  opacity: 1;
  transform: scale(1);
}
.gallery-item-overly {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  transform: scale(0.5);
  opacity: 0;
}
.photo-gallery-single a {
  color: #fff;
  font-size: 45px;
}
.photo-gallery-single img {
  width: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.8s ease;
}
.photo-gallery-single:hover img {
  transform: scale(1.3);
} */